*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,li {
        line-height: 1.2;
        font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

a:hover, #icon:hover {
    opacity: 0.5;
    transition: 0.3s;
}

#wrap {
    text-align: center;
    margin: 0 auto;
}

#header {
    background-image: url(main.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}

.header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header-logo {
    height: 60px;
}

nav ul {
    display: flex;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav li {
    margin: 0 30px
}

.header-text {
    width: 100%;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

#icon {
    display: none;
}

#news {
    max-width: 1100px;
    margin: 0 auto;
}

.news {
    max-width: 700px;
    padding: 90px 0;
    margin: 0 auto;
}

h2 {
    font-size: 38px;
    margin-bottom: 60px;
}

#news ul {
    text-align: left;
}

#news li {
    border-bottom: solid 1px #000;
    padding: 30px 0;
}

#news a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.news-type {
    display: inline-block;
    font-size: 11px;
    border: solid 1px #000;
    padding: 5px 8px;
    margin: 0 30px;
}

#main {
    max-width: 1100px;
    padding: 90px 0;
    margin: 0 auto;
}

h3 {
    font-size:  24px;
    margin-top: 30px;
}

.area {
    font-size: 14px;
    margin: 15px;
}

#main a {
    text-decoration: none;
    color: #000;
}

.house {
    height: 280px;
}

.look {
    height: 47px;
    margin-bottom: 80px;
}

.left {
    float: left;
    margin-left: 60px;
}

.right {
    float: right;
    margin-right: 60px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.achievement {
    display: inline-block;
    font-size: 20px;
    border: solid 1px #000;
    padding: 12px 40px 12px 40px;
}

#sub-menu {
    padding-top: 90px
}

.sub-menu {
    display: flex;
}

#sub-menu img {
    width: 100%;
}

footer {
    background: #000;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0 60px 0;
}

.footer img {
    width: 95px;
}

.footer ul {
    display: flex;
    font-size: 18px;
}

.footer li {
    margin: 0 30px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.copyright {
    font-size: 12px;
    padding-bottom: 10px;
}







